* {
    margin:0;
    padding:0;
}

html {
    display: block;
}

head, link, meta, script, style, title {
    display: none;
}

body {
    display: block;
    height: 100%;
}

section {
    display:block;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

article, figure, div, header, nav, aside, footer, menu {
    display:block;
    position:relative;
}

ol, ul {
    display: block;
    position:relative;
    list-style-type: none;
/*  margin-inline-start:0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0; */
}

ol > li {
    display:block;
    position:relative;
}

ul > li {
    display:block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

